.welcome {
    font-size: 1.5rem;
    margin-left: 15px;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#favorites {
    width: 100%;
}

#favorites tr th {
    font-size: 1rem;
    padding: 10px;
    background-color: red;
    color: white;
}

.favorite-action {
    width: auto;
    text-align: center;
}

.favorites-item td {
    transition: all 0.25s ease-in-out;
}

.favorites-item:hover td {
    background-color: lightgray;
}

.favorites-item:active td {
    background-color: lightgray;
}

.favorite-item {
    width: 30%;
    text-align: left;
}

.favorite-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-family: Futura-Medium;
}

.favorite-category {
    width: 50%;
    text-align: left;
}

#favorites-content tr td {
    padding: 10px;
    font-size: 1.25rem;
    text-align: center;
}

.favorite-img {
    background-size: cover;
    background-position: 50% 0;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: -5px;
}

#favorites-noitem p {
    margin: 5px;
    font-size: 1rem;
}

.remove {
    border: none;
    border-radius: 10px;
    background-color: red;
    font-family: Futura-Medium;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.15s ease-in-out;
}

.remove:hover {
    background-color: #880000;
}


.remove:active {
    background-color: #880000;
}

footer {
    margin-top: 300px;
}

.icon {
    height: 25px;
    width: 25px;
}

@media (min-width: 768px) {
    .welcome {
        font-size: 3rem;
        margin-left: 30px;
    }

    .container {
        width: 90%;
    }

    .favorite-action {
        width: 5%;
    }

    #favorites tr th {
        font-size: 1.5rem;
    }

    .favorite-item-container {
        font-size: 2rem;
    }

    .favorite-img {
        background-size: cover;
        background-position: 50% 0;
        height: 100px;
        width: 100px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .favorite-category {
        width: 30%;
    }

    #favorites-noitem p {
        margin: 5px;
        font-size: 1.5rem;
    }

    .remove {
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
    }

    .icon {
        height: 50px;
        width: 50px;
    }
}