@font-face {
    font-family: Futura-Light;
    src: local('futura light bt');
}

@font-face {
    font-family: Futura-Medium;
    src: local('futura medium bt');
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Futura-Light;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    top: 0;
    gap: 30px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: Futura-Medium;
    color: red;
}

a {
    text-decoration: none;
}

#three-bar {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.red-bar {
    background-color: red;
    width: 30px;
    height: 5px;
}

#header-list {
    display: block;
    position: absolute;
    top: -320px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #ff3838;
    color: white;
    transition: top 0.75s ease-in-out;
    z-index: 2;
    &.open {
        top: 0;
    }
}

#header-list li {
    margin: 0;
    padding: 0;
    height: 40px;
    min-width: 100px;
    width: auto;
    margin-top: 5px;
}

#header-list #header-list-close {
    transition: background-color 0.25s ease-in-out;
}

#header-list-close:active {
    background-color: #a12525;
}

.header-list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

footer {
    height: auto;
    background-color: lightgray;
    padding-bottom: 10px;
}

#footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

#web-desc {
    text-align: center;
}

#contacts {
    text-align: center;
}

#contacts p {
    margin: 0;
}

#contacts ul {
    margin: 0;
    padding: 0;
}

#social-media {
    text-align: center;
}

#social-media-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#social-media-inner img {
    width: 50px;
    transition: scale 0.25s ease-in-out;
}

#social-media-inner img:hover {
    scale: 110%;
}

#creator {
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: static;
    }

    #three-bar {
        display: none;
    }

    #header-list {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 5px;
        margin: 0;
        padding: 0;
        width: 75%;
        background: none;
    }

    #header-list li {
        display: inline-block;
        width: 130px;
        color: black;
    }

    .header-list-content {
        color: black;
        transition: color 0.25s ease-in-out;
    }

    .header-list-content:hover {
        color: red;
    }

    #header-list #header-list-close {
        display: none;
    }

    footer {
        height: auto;
    }

    #footer-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #web-desc {
        text-align: left;
    }

    #contacts {
        grid-column: 1/-1;
    }
}

@media (min-width: 1024px) {
    footer {
        min-height: 350px;
        height: auto;
    }

    #footer-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 100px;
    }

    #web-desc {
        text-align: left;
    }

    #contacts {
        grid-column: 3;
        text-align: right;
    }
}