hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 550px;
    width: 100%;
}

#welcome {
    font-size: 1.5rem;
    width: 100%;
}

#hero-paragraph {
    width: min(500px, 100%);
    margin-right: auto;
    margin-left: auto;
}

#hero-container {
    text-align: center;
    height: 290px;
    padding: 20px;
    background-color: lightgray;
}

#img-collection-hero {
    width: 100%;
    height: 100%;
    background-color: white;
}

#img-collection-content-hero {
    display: grid;
    grid-template-areas:
        ". hero2 ."
        "hero1 hero2 hero3"
        ". hero2 ."
    ;
    gap: 10px;
    height: 100%;
    max-width: 500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.img-collection-content div {
    border-radius: 10px;
}

#img-hero-1 {
    grid-area: hero1;
    background-image: url('../img/index/hero.jpg');
    background-size: auto 100%;
    grid-row: 1 / 3;
}

#img-hero-2 {
    grid-area: hero2;
    background-image: url('../img/index/hero2.jpg');
    background-size: auto 100%;
    background-position: 47% 0;
}

#img-hero-3 {
    grid-area: hero3;
    background-image: url('../img/index/hero1.jpg');
    background-size: auto 105%;
    grid-row: 2 / -1;
}

#intro {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

#culinary {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

#culinary-scroll {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 50px;
}

#img-collection-culinary {
    min-height: 350px;
    height: 60vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#img-collection-content-culinary {
    display: grid;
    grid-template-areas:
        ". cul3 ."
        "cul1 cul4 cul6"
        "cul2 cul5 ."
    ;
    grid-template-rows: 1fr 1.5fr 1fr;
    gap: 10px;
    height: 100%;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#img-culinary-1 {
    grid-area: cul1;
    background-image: url('../img/index/culinary.jpg');
    background-size: cover;
    background-position: -45px 0;
    margin-bottom: 50px;
    margin-top: -70px;
}

#img-culinary-2 {
    grid-area: cul2;
    background-image: url('../img/index/culinary1.avif');
    background-size: cover;
    background-position: -30px 0;
    margin-top: -50px;
    margin-bottom: 40px;
}

#img-culinary-3 {
    background-image: url('../img/index/culinary3.jpeg');
    background-size: cover;
    background-position: 50% 0;
    grid-area: cul3;
}

#img-culinary-4 {
    background-image: url('../img/index/culinary2.jpg');
    background-size: cover;
    background-position: -30px 0;
    grid-area: cul4;
}

#img-culinary-5 {
    grid-area: cul5;
    background-image: url('../img/index/culinary5.webp');
    background-size: cover;
    background-position: 80%;
}

#img-culinary-6 {
    grid-area: cul6;
    grid-row: 1/4;
    background-image: url('../img/index/culinary4.webp');
    background-position: 80%;
    margin-top: 60px;
    margin-bottom: 40px;
}

#culinary-container {
    background-color: lightgray;
}

#culinary-header {
    margin-left: 20px;
    margin-right: 20px;
    color: red;
    font-family: Futura-Medium;
}

#culinary-paragraph {
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    width: 100%;
}

.center {
    text-align: center;
}

.paragraph {
    font-size: 1rem;
}

@media (min-width: 768px) {
    hero {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        gap: 10px;
    }

    #hero-container {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
        padding: 0;
        padding-right: 30px;
        padding-left: 30px;
        width: 50%;
        height: 100%;
        text-align: right;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #welcome {
        margin-top: clamp(25px, 10%, 80px);
        font-size: 3rem;
    }

    #hero-paragraph {
        width: min(600px, 90%);
        margin: 0;
    }

    #img-collection-hero {
        height: 100%;
        width: 50%;
        margin-right: 10px;
    }

    #img-collection-content-hero {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph {
        font-size: 1rem;
    }

    .container {
        font-size: 2vw;
    }

    #intro {
        width: 100%;
        font-size: 3rem;
    }

    #culinary {
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 10px;
        height: min(40vw, 700px);
        margin-left: auto;
        margin-right: auto;
    }

    #img-collection-culinary {
        width: 50%;
        margin-left: 10px;
        margin-right: 12px;
        min-height: 450px;
        max-height: 100%;
    }

    #img-collection-content-culinary {
        min-width: 400px;
        max-width: 600px;
        width: 50%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #culinary-container {
        margin: 0;
        width: 50%;
        height: 400px;
        max-height: 100%;
        background-color: lightgray;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #culinary-header {
        margin-top: clamp(35px, 10%, 80px);
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2vw;
    }

    #culinary-paragraph {
        margin-left: 20px;
        margin-right: 20px;
        min-width: 300px;
        width: 70%;
    }
}

@media (min-width: 1024px) {
    #hero-container {
        width: 50%;
    }

    .paragraph {
        font-size: 1.25rem;
    }

    #intro {
        font-size: 4rem;
    }
}