hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    background-color: lightgray;
    width: 100%;
}

#welcome {
    font-size: 1.5rem;
    width: 100%;
}

#hero-paragraph {
    width: min(500px, 100%);
    margin-right: auto;
    margin-left: auto;
}

.hero-container {
    text-align: center;
    height: 45%;
    padding: 20px;
}

.image-collection {
    width: 100%;
    height: min(60%, 300px);
    background-color: beige;
}

.image-collection-content {
    position: relative;
    height: 100%;
    width: min(500px, 100%);
    margin-left: auto;
    margin-right: auto;
}

.image-collection-content img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-radius: 10px;
    top: 25%;
    left: 15%;
}

#intro {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 300px;
}

.container {
    width: 100%;
}

.center {
    text-align: center;
}

#foods {
    height: 100px;
    background-color: white;
    margin-bottom: 400px;
}

#foods-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#foods-container h2 {
    margin-bottom: 5px;
}

.paragraph {
    font-size: 1rem;
}

@media (min-width: 768px) {
    hero {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
        padding-top: min(25%, 100px);
        width: 50%;
        height: 80%;
        text-align: right;   
    }

    #hero-paragraph {
        width: min(600px, 90%);
        margin: 0;
    }

    .image-collection {
        height: 100%;
        position: relative;
        width: 50%;
        background-color: beige;
    }

    .image-collection-content {
        width: min(100%, 500px);
        margin-left: auto;
        margin-right: auto;
    }

    .image-collection img {
        width: min(350px, 50%);
        top: 32.5%;
    }

    .paragraph {
        font-size: 1rem;
    }

    .container {
        font-size: 2vw;
    }

    #intro {
        width: 100%;
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .hero-container {
        padding-top: 65px;
        width: 50%;
        height: 550px;
    }

    .paragraph {
        font-size: 1.25rem;
    }

    #welcome {
        font-size: 2.5rem;
    }

    #intro {
        font-size: 4rem;
    }
}