hero {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: lightgray;
    width: 100%;
}

#welcome {
    font-size: 2.5rem;
    width: 100%;
    padding-right: 15px;
}

.hero-container {
    text-align: center;
    height: 50%;
    padding: 20px;
}

.image-collection {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image-collection img {
    width: 50%;
    position: absolute;
    border-radius: 10px;
    top: 25%;
    left: 25%;
}

.hero-paragraph {
    font-size: 1.5rem;
    padding-right: 15px;
}

#intro {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
}

.container {
    background-color: white;
    width: 100%;
}

.center {
    text-align: center;
}

#foods {
    height: 100px;
    background-color: white;
}

#foods-container {
    display: flex;
    margin: 20px;
}

@media (min-width: 768px) {
    hero {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        height: min(60vh, 40vw);
        gap: 50px;
    }

    .hero-container {
        padding-top: min(5vw, 100px);
        width: 30%;
        height: 80%;
        text-align: right;
    }

    .image-collection {
        position: relative;
        height: 100%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-collection img {
        width: 40%;
    }

    #welcome {
        font-size: 1.75rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .container {
        font-size: 2vw;
    }

    #intro {
        width: 100%;
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .hero-container {
        width: 40%;
    }

    #welcome {
        font-size: 2.5rem;
    }

    #intro {
        font-size: 4rem;
    }
}